/* Estilos personalizados */
.gen-header-style-1 {
    background-color: #0a0e16; /* Cor de fundo para o header */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra para o header */
}

.gen-button {
    background-color: #ff9800; /* Cor de fundo do botão */
    color: #0a0e16; /* Cor do texto */
    padding: 5px 5px; /* Espaçamento do botão */
    border-radius: 5px; /* Bordas arredondadas */
    text-decoration: none; /* Remover sublinhado */
}

.dropdown-menu {
    background-color: #0a0e16; /* Cor de fundo mais suave */
    border: 1px solid #0c1320; /* Borda para o menu */
    border-radius: 0.25rem; /* Bordas arredondadas */
    padding: 0; /* Remove o padding padrão */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para o menu */
    max-height: 400px; /* Altura máxima do menu */
    overflow-y: auto; /* Adiciona rolagem vertical se necessário */
}

/* Estilo para itens do menu suspenso */
.dropdown-menu .dropdown-item {
    padding: 2px 2px; /* Espaçamento interno dos itens */
    font-size: 14px; /* Tamanho da fonte dos itens */
    color: #333; /* Cor do texto dos itens */
}

.dropdown-menu .dropdown-item:hover {
    background-color: #4b2d00; /* Cor de fundo ao passar o mouse */
    color: #007bff; /* Cor do texto ao passar o mouse */
}

/* Estilo para o menu suspenso do item de filmes */
#navbarDropdownFilms + .dropdown-menu {
    min-width: 50px;
    min-height: 50px /* Largura mínima do menu */
}
