.gen-video-holder {
    width: 100%;
    height: 550px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000; /* Fallback para o caso de não haver imagem de capa */
    overflow: hidden; /* Garante que o conteúdo excessivo seja oculto */
}

.gen-video-player {
    max-width: 100%;
    max-height: 100%;
    border: none;
    background-color: #000; /* Fundo preto para o player de vídeo */
}

.gen-button {
    padding: 10px 20px;
    margin: 10px;
    background-color: #ff9800; /* Cor vermelha para chamar a atenção */
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
    transition: background-color 0.3s;
    z-index: 10; /* Garante que os botões estejam acima do player */
    position: relative; /* Necessário para o z-index funcionar */
}

.gen-button:hover {
    background-color: #b20710; /* Cor ao passar o mouse */
}
