/* Estilos para o player de vídeo */
.gen-video-player .movie-player_html5_api{
    width: 100%;
    height: 100%;
    border: none;
    background-color: rgb(0, 0, 0)b1b; /* Fundo preto para o player de vídeo */
    display: none; /* Player inicialmente oculto */
    max-height: 550px; /* Limita a altura máxima do player */
}

.video-logo {
    position: absolute; /* Posiciona a logo de forma absoluta em relação ao contêiner */
    top: 10px; /* Ajuste a posição vertical da logo */
    left: 10px; /* Ajuste a posição horizontal da logo */
    width: 100px; /* Ajuste o tamanho da logo */
    height: auto; /* Mantém a proporção da logo */
    z-index: 10; /* Garante que a logo fique acima do player de vídeo */
    opacity: 0.8; /* Torna a logo um pouco transparente, se desejado */
}

.vjs-big-play-button {
    display: none !important;
}

/* Estilos para o contêiner do vídeo */
.gen-video-holder {
    width: 100%;
    max-width: 100%; /* Evita que o contêiner ultrapasse o limite da página */
    height: 550px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000; /* Fallback para o caso de não haver imagem de capa */
    overflow: hidden; /* Garante que o conteúdo excessivo seja oculto */
}

/* Estilos para os botões de controle */
.gen-button {
    padding: 10px 20px;
    margin: 10px;
    background-color: #ff9800; /* Cor destacada para os botões */
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
    transition: background-color 0.3s ease; /* Adiciona suavidade à transição */
    z-index: 2; /* Mantém os botões acima do player */
    position: absolute; /* Permite posicionamento absoluto */
}

/* Efeito hover para os botões */
.gen-button:hover {
    background-color: #020a2c/* Cor ao passar o mouse */
}

/* Posicionamento específico dos botões */
#watch-movie-btn {
    bottom: 20px; /* Posiciona o botão "Assistir Filme" na parte inferior */
    left: 20px; /* Ajusta a margem esquerda */
}

#watch-trailer-btn {
    bottom: 20px; /* Posiciona o botão "Trailer" na parte inferior */
    right: 20px; /* Ajusta a margem direita */
}
