.containerPlay {
    position: absolute;
    top: 30%;           /* Centralizado verticalmente */
    left: 45%;          /* Centralizado horizontalmente */
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    z-index: 10;
}

/* Ajuste do botão para diferentes dispositivos */
@media (max-width: 1200px) {
    .containerPlay {
        width: 80px;
        height: 80px;
    }
}

@media (max-width: 768px) {
    .containerPlay {
        width: 60px;
        height: 60px;
    }
}

@media (max-width: 480px) {
    .containerPlay {
        width: 30%;
        height: 20%;
        top: 40%;  /* Ajusta a posição para dispositivos menores */
    }
}

.circleP {
    stroke: #f8aa28;
    stroke-dasharray: 650;
    stroke-dashoffset: 650;
    transition: all 0.5s ease-in-out;
    opacity: 0.3;
}

.playBut {
    display: inline-block;
    cursor: pointer;
    transition: all 0.5s ease;

    .triangle {
        transition: all 0.7s ease-in-out;
        stroke-dasharray: 240;
        stroke-dashoffset: 480;
        stroke: #000;
    }

    &:hover {
        .triangle {
            stroke-dashoffset: 0;
            opacity: 1;
            stroke: #f8aa28;
            animation: nudge 0.7s ease-in-out;
        }

        .circleP {
            stroke-dashoffset: 0;
            opacity: 1;
        }
    }
}

@keyframes nudge {
    0% {
        transform: translateX(0);
    }
    30% {
        transform: translateX(-5px);
    }
    50% {
        transform: translateX(5px);
    }
    70% {
        transform: translateX(-2px);
    }
    100% {
        transform: translateX(0);
    }
}
