.vjs-big-play-button {
  display: none !important;
}

#download-icon {
  color: #ff9800;
  transition: color 0.3s ease;
}
#download-icon:hover {
  color: #fff;
}

#download-content-btn {
  bottom: 20px; /* Posiciona o botão "Assistir Filme" na parte inferior */
  left: 50%; /* Ajusta a margem esquerda */
}

#watch-trailer-btn {
  bottom: 20px; /* Posiciona o botão "Trailer" na parte inferior */
  right: 20px; /* Ajusta a margem direita */
}
